.header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box ;
    align-items: center;
    /* background-color: #3a86ff; */
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    border-bottom: 1px solid black;
    z-index: 100;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo:hover{
    cursor: pointer;
}

.username {
    font-size: 20px;
}

.username:hover {
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    width: 30px;
    height: 30px;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}
.logout:hover {
    cursor: pointer;
}

.balance {
    margin-top: auto;
    font-size: 18px;
}
.button {
    margin-left: -5px;
    border-radius: 8px;
    color: white;
    background-color: #3a86ff;
    outline: none;
    border: none;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
}