.container {
    /* background-color: #BAE8E8; */
    padding: 20px;
    border-radius: 20px; 
    width: fit-content;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 90%;  
    
    max-width: 450px;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create {
    outline: none;
    border: none;

    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: #3a86FF;
}

.disclamer {

    margin-top: 10px;
    font-size: 12px;
    color: gray;
}