.profile {
    background-color: #BAE8E8;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button{ 
    padding: 5px;
}