.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: fit-content;
    height: calc(100vh - 73px);
}
.avatar {
    max-width: 150px;
}

.name {
    font-size: 60px;
}


.event {
    text-transform: capitalize;
    max-width: 70%;
}
.list {
    list-style-type: none;
    /* margin: 40px 0 0; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    min-width: 300px;

    width: 100%;
    background-color: rgba(36, 36, 36, 0.1);
    /* padding: 14px 0; */
    border-radius: 8px;
    overflow: hidden;

}

.element {
    /* padding: 16px 8px; */
    border-bottom: 1px solid black;
    /* border-radius: 8px; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.element:hover {
    background-color: rgba(36, 36, 36, 0.2);
    cursor: pointer;
}

.element:last-of-type {
    border-bottom: none;
}
.element:last-of-type:hover {
    border-bottom: 1px solid black;
}

.none {
    text-align: center;
    padding: 15px;
}

.balance {
    padding: 14px;
    border-radius: 8px;
    font-size: 24px;
    background-color: rgba(36, 36, 36, 0.1);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.row {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}